SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8082

DB_URL=jdbc:postgresql://127.0.0.1:5432/gafahnet?currentSchema=consultorio
DB_USERNAME=gafah
DB_PASSWORD=REEMPLAZAR
DB_SCHEMA=consultorio

JPA_SHOW_SQL=false
JPA_DDL_AUTO=validate
FLYWAY_ENABLED=true
FLYWAY_VALIDATE_ON_MIGRATE=true
FLYWAY_CLEAN_DISABLED=true
CRON_EXPRESSION=0 0 2 * * ?

JWT_SECRET_KEY=REEMPLAZAR_BASE64
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

CORS_ALLOWED_ORIGINS=https://gafah.dev

app.seed.demo-enabled=false
app.seed.super-gafah.enabled=false
